src/lesson_39/_01_xml/catxsd.xml

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="cats">
        <xs:sequence>
            <xs:element name="cat" type="CatModel" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CatModel">
        <xs:attribute name="id" type="xs:integer" use="required"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="age" type="xs:integer" use="required"/>
    </xs:complexType>
</xs:schema>